/libtool.m4
/ltoptions.m4
/ltsugar.m4
/ltversion.m4
/lt~obsolete.m4
/00gnulib.m4
/gnulib-cache.m4
/gnulib-common.m4
/gnulib-comp.m4
/gnulib-tool.m4
/manywarnings.m4
/onceonly.m4
/warnings.m4
/extensions.m4
/include_next.m4
/longlong.m4
/multiarch.m4
/sigaction.m4
/signal_h.m4
/signalblocking.m4
/stdint.m4
/warn-on-use.m4
