*~
.deps
.libs
/lib
/lposix.o
/lposix.lo
/posix_c.la
/posix_c.so
/.gitmodules
/AUTHORS
/COPYING
/INSTALL
/Makefile.in
/NEWS
/aclocal.m4
/autom4te.cache
/build-aux
/config.h.in
/configure
/gnulib
/Makefile
/config.h
/config.log
/config.lt
/config.status
/libtool
/stamp-h1
