*~
*.o
*.so
*.html
*.rockspec
*.src.rock
/.gitmodules
/ChangeLog
/COPYING
/doc
/Makefile
/build-aux/config.ld
/lib/posix/init.lua
/luaposix-*.rockspec
!/luaposix-git-*.rockspec
/luaposix-*.tar.gz
/TAGS
/travis.yml.in
