*~
*.o
*.lo
*.la
*.so
*.html
*.rockspec
.deps
.libs
/docs
/lib
/release-notes-*
/.gitmodules
/AUTHORS
/ChangeLog
/COPYING
/INSTALL
/Makefile.in
/NEWS
/aclocal.m4
/autom4te.cache
/build-aux
/config.h.in
/configure
/Makefile
/config.h
/config.log
/config.lt
/config.status
/libtool
/stamp-h1
/luarocks-config.lua
/luarocks
